# Node modules
node_modules/

# Build output
dist/

# Logs
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# TypeScript cache
*.tsbuildinfo

# Config local
.env
.env.*

# VSCode settings (opcional)
.vscode/

report.json